{% extends 'base.html' %}

{% block content %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="cart_area padding_top">
    <div class="container">
        <div class="row">
        
            {% include 'includes/dashboard_sidebar.html' %}

        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Edit Your Profile</strong>
            </header>

            <div class="card-body" >
                <div class="row"> 

                    <div class="col-md-12">
                        <form action="{% url 'change_password' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}


                            <div class="form-group">
                                <label> Current Password</label>
                                <input type="password" name="current_password" class="form-control " placeholder="Current Password">
                            </div>

                            <div class="form-group">
                                <label> New Password</label>
                                <input type="password" name="new_password" class="form-control " placeholder="Enter New Password">
                            </div>

                            <div class="form-group">
                                <label> Confirm Password</label>
                                <input type="password" name="confirm_password" class="form-control " placeholder="Confirm Password">
                            </div>

                          

                            <input type="submit" value="submit" class="btn btn-success">

                        </form>

                    </div>

                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            <div class="table-responsive">
            


            </div> <!-- table-responsive .end// -->
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock content %}





