{% extends 'adminpanel/base.html' %}

{% load static %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

   <!-- Page Heading -->
   <h1 class="h3 mb-2 text-gray-800">Best Selling products table</h1>
   <p class="mb-4">Best Sellers items</p>
   
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Best Selling products list</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>

                    <tr>
                        <th>Category</th>
                        <th>Title</th>
                        <th>Banner image</th>
                        <th>Is available</th>
                        <th><a href="" class="btn btn-dark">Add new banner</a></th>
                    </tr>
                </thead>

                

                <tbody>

                    {% if carousels %}
                        {% for carousel in carousels %}
                            <tr>
                                <td>{{carousel.category}}</td>
                                <td>{{carousel.title}}</td>
                                <td>{{carousel.banner_image}}</td>
                                <td>{{carousel.is_available}}</td>
                                <td><a href="" class="btn btn-success">Edit</a></td>

                                
                            </tr>
                        {% endfor %}
                    {% endif %}
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
</div>
<!-- /.main end -->


{% endblock content %}