
<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
        <a class="list-group-item active {% if '/dashboard/' == request.path  %} active {% endif %}" href="{% url 'dashboard' %}"> Dashboard </a>
        <a class="list-group-item {% if '/my_orders/' in request.path %} active {% endif %}" href="{% url 'my_orders' %}"> My Orders </a>
        <a class="list-group-item" href="{% url 'edit_profile' %}"> Edit Profile</a>
        <a class="list-group-item" href="{% url 'change_password' %}">Change Password </a>
       
    </ul>
    <br>
    <!--   SIDEBAR .//END   -->

</aside>