{% extends 'adminpanel/base.html' %}

{% load static %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800"> Account Table</h1>
    <p class="mb-4">User Account details</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Active users</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Username</th>
                            <th>Last Login</th>
                            <th>Date joined</th>
                            <th>Is_active</th>
                            <th class="text-dark">Ban user</th>
                        </tr>
                    </thead>
                  
                    <tbody>
                        {% if active_users %}
                            {% for user in active_users %}
                                <tr>
                                    <td>{{user.first_name}}</td>
                                    <td>{{user.last_name}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.username}}</td>
                                    <td>{{user.last_login}}</td>
                                    <td>{{user.date_joined}}</td>
                                    <td>{{user.is_active}}</td>
                                    <td><a href="{% url 'ban_user' user.id %}" class="btn btn-danger" onclick="return confirm('Are you sure to Ban {{user.first_name}} ?')"> ban </a></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
{% endblock content %}