{% extends 'adminpanel/base.html' %}

{% load static %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

   <!-- Page Heading -->
   <h1 class="h3 mb-2 text-gray-800">Cancelled Orders</h1>
   <p class="mb-4">Orders and its details</p>
   
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Cancelled Orders</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>

                    <tr>
                        <th>Order ID</th>
                        <th>User E-mail</th>
                        <th>Phone No</th>
                        <th>Order Total</th>
                        <th>Date</th>
                        <th>Address</th>
                    </tr>
                </thead>

               

                <tbody>

                    {% if accepted_orders %}
                    
                        {% for order in accepted_orders %}
                            <tr>
                                <td>{{order.order_number}}</td>
                                <td>{{order.email}}</td>
                                <td>{{order.phone}}</td>
                                <td>${{order.order_total}}</td>
                                <td>{{order.created_at}}</td>
                                <td>{{order.address_line_1}}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
</div>
<!-- /.main end -->


{% endblock content %}