{% extends 'adminpanel/base.html' %}

{% load static %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Payment Table</h1>
    <p class="mb-4">Payment Details</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Payments -list</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>

                    <tr>
                        <th>User</th>
                        <th>Payment method</th>
                        <th>Payment ID</th>
                        <th>Amount Paid</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>User</th>
                        <th>Payment method</th>
                        <th>Payment ID</th>
                        <th>Amount Paid</th>
                        <th>Status</th>
                    </tr>
                </tfoot>

                <tbody>
                    
                    {% if payments %}
                        {% for payment in payments %}
                            <tr>
                                <td>{{payment.user}}</td>
                                <td>{{payment.payment_method}}</td>
                                <td>{{payment.payment_id}}</td>
                                <td>$ {{payment.amount_paid}}</td>
                                <td>{{payment.status}}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
    <!-- /.container-fluid -->


{% endblock content %}