{% extends 'home/main.html' %}
{% load static %}
{% block title %}BitStore{%endblock title %}
{% block style %}
<style>

  .product-grid{
      background-color: #fff;
      font-family: 'Work Sans', sans-serif;
      text-align: center;
      transition: all 0.3s ease 0s;
  }
  .product-grid:hover{ box-shadow:  0 0 20px -10px rgba(237,29,36,0.3); }
  .product-grid .product-image{
      overflow: hidden;
      position: relative;
      transition: all 0.3s ease 0s;
  }
  .product-grid:hover .product-image{ border-radius: 0 0 30px 30px; }
  .product-grid .product-image a.image{ display: block; }
  .product-grid .product-image img{
      width: 100%;
      height: auto;
  }
  .product-image .pic-1{
      backface-visibility: hidden;
      transition: all 0.5s ease 0s;
  }
  .product-grid:hover .product-image .pic-1{ opacity: 0; }
  .product-image .pic-2{
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.5s ease 0s;
  }
  .product-grid:hover .product-image .pic-2{ opacity: 1; }
  .product-grid .product-links{
      padding: 0;
      margin: 0;
      list-style: none;
      opacity: 0;
      position: absolute;
      bottom: 0;
      right: 10px;
      transition: all 0.3s ease 0s;
  }
  .product-grid:hover .product-links{ opacity: 1; }
  .product-grid .product-links li{
      margin: 0 0 10px 0;
      transform: rotate(360deg) scale(0);
      transition: all 0.3s ease 0s;
  }
  .product-grid:hover .product-links li{ transform: rotate(0) scale(1); }
  .product-grid:hover .product-links li:nth-child(3){ transition-delay: 0.1s; }
  .product-grid:hover .product-links li:nth-child(2){ transition-delay: 0.2s; }
  .product-grid:hover .product-links li:nth-child(1){ transition-delay: 0.3s; }
  .product-grid .product-links li a{
      color: #666;
      background-color: #fff;
      font-size: 18px;
      line-height: 42px;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      display: block;
      transition: all 0.3s ease 0s;
  }
  .product-grid .product-links li a:hover{
      color: #fff;
      background-color: #ed1d24;
  }
  .product-grid .product-content{
      text-align: left;
      padding: 15px 10px;
  }
  .product-grid .rating{
      padding: 0;
      margin: 0 0 7px;
      list-style: none;
  }
  .product-grid .rating li{
      color: #f7bc3d;
      font-size: 13px;
  }
  .product-grid .rating li.far{ color: #777; }
  .product-grid .title{
      font-size: 16px;
      font-weight: 600;
      text-transform: capitalize;
      margin: 0 0 6px;
  }
  .product-grid .title a{
      color: #555;
      transition: all 0.3s ease 0s;
  }
  .product-grid .title a:hover{ color: #ed1d24; }
  .product-grid .price{
      color: #ed1d24;
      font-size: 18px;
      font-weight: 700;
  }
  @media screen and (max-width:990px){
      .product-grid{ margin: 0 0 30px; }
  }
</style>
{% endblock style %}
{% block content %}
<!-- breadcrumb start-->
  <section class="breadcrumb" style="height:90px; background-color:#ecfdff" >
  </section>
  <!-- breadcrumb start-->
  <!--================End Home Banner Area =================-->


{% comment %} 
  <div class="container">
    <div class="col-lg-6">
      <div class="product-grid">
        <div class="product-image">
            <a href="#" class="image">
              <img class="pic-1" src="{% static 'store/img/product/single-product/product_1.png' %}">
              <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo137/images/img-2.jpg">
            </a>
            <ul class="product-links">
                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                <li><a href="#"><i class="far fa-heart"></i></a></li>
                <li><a href="#"><i class="fa fa-random"></i></a></li>
                <li><a href="#"><i class="fa fa-search"></i></a></li>
            </ul>
        </div>
        <div class="product-content">
            <ul class="rating">
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="far fa-star"></li>
            </ul>
            <h3 class="title"><a href="#">Women's Blouse Top</a></h3>
            <div class="price">$85.55</div>
        </div>
      </div>
    </div>
  </div> {% endcomment %}

  

  <!--================Single Product Area =================-->
  <div class="product_image_area section_padding">
    <div class="container">
      <div class="row s_product_inner justify-content-between">
        <div class="col-lg-7 col-xl-7 justify-content-center">
          <div class="main_image" style="height:52vh">
            <center><img src="{{single_product.primary_image.url}}" alt="" style="height:30vw"></center>
          </div>
          <ul class="thumb" style="margin:0 auto; padding:0; float: left;">
            <li style="list-style: none; margin: 10px;">
              <a 
                href="{{single_product.primary_image.url}}" 
                target="main_image">
                <img src="{{single_product.primary_image.url}}" alt="Product Image"  
                  style=" width: 80px; height: 100px; border: 1px solid grey;"
                >
              </a>
              {% for i in images %}
              <a href="{{i.image.url}}" target="main_image"><img src="{{i.image.url}}" alt="Product Image"  
                style=" width: 80px; height: 100px; border: 1px solid grey;">
              </a>
              {% endfor %}
            </li>
          </ul>
        </div> 

        <div class="col-lg-5 col-xl-4">
          <!--Form for Variations-->
          <form action="{% url 'add_cart' single_product.id %}" method="POST">
            {% csrf_token %}
            <div class="s_product_text">
              <h3>{{single_product.product_name}}</h3>
              <h2>Rs.{{single_product.price}}</h2>
              <ul class="list">
                <li>
                  <a class="active" href="/store/category/{{single_product.category.slug}}">
                    <span>Language</span> : {{single_product.category}}</a>
                </li>
                <li>
                  <p> <span>Availibility</span>{% if single_product.stock <= 0 %} : Out of Stock {% else %} : In Stock{% endif %}</p>
                </li>
                <li>
                </li>
                <p> <span>Choose Type</span>:</p>
                <select name="book_type" required>
                  <option value="" disabled selected>choose type</option>
                  {% for i in single_product.variation_set.book_type %}
                  <option value="{{i.variation_value | lower}}">{{i.variation_value | capfirst}}</option>
                  {% endfor %}
                </select>
                <br>
                <p> <span>Choose Language</span>:</p>
                <select name="language">
                  <option value="" disabled selected>choose language</option>
                  {% for i in single_product.variation_set.language %}
                  <option value="{{i.variation_value | lower}}">{{i.variation_value | capfirst}}</option>
                  {% endfor %}
                </select>
              </ul>
              <br><br>
              <div class="card_area d-flex justify-content-between align-items-center">
                <div class="product_count">
                  <span class="inumber-decrement"> <i class="ti-minus"></i></span>
                  <input class="input-number" type="text" value="1" min="0" max="10">
                  <span class="number-increment"> <i class="ti-plus"></i></span>
                </div>
                {% if single_product.stock <= 0 %}
                  <a class="btn_3">Out of stock</a>
                {% else %}
                  {% if in_cart %}
                  <a href="{% url 'cart'  %}" class="btn_3">go to cart</a>
                  {% endif %}
                  <button type="submit" class="btn_3">add to cart</button>
                {% endif %}
                <a href="{% url 'add_wishlist' single_product.id %}" class="like_us"> <i class="ti-heart"></i></a>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
  <!--================End Single Product Area =================-->

  <!--================Product Description Area =================-->
  <section class="product_description_area">
    <div class="container">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Description</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
            aria-selected="false">Specification</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
            aria-selected="false">Comments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
            aria-selected="false">Reviews</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
          <p>
            {{single_product.description}}
          </p>
        </div>
      </div>
    </div>
  </section>
  <!--================End Product Description Area =================-->

  <!-- product_list part start-->
  <section class="product_list best_seller section_padding">  
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12">
        <div class="section_tittle text-center">
            <h2>Best Sellers <span>shop</span></h2>
        </div>
        </div>
    </div>
    <div class="row align-items-center justify-content-between">
        <div class="col-lg-12">
        <div class="best_product_slider owl-carousel">
            {% for product in all %}
            <a href="{{product.get_url}}">
                <div class="single_product_item">
                <img src="{{product.primary_image.url}}" style="height:350px" alt="" />
                <div class="single_product_text">
                    <div style="min-height:7vh;">
                        <h4>{{product.product_name}}</h4>
                    </div>
                    <h3 class="align-bottom">Rs.{{product.price}}</h3>
                </div>
                </div>
            </a>
            {% endfor %}
        </div>
        </div>
    </div>
    </div>
</section>
<!-- product_list part end-->
  {% endblock content %}
  {% block script %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.thumb a').click(function(e){
        e.preventDefault();
        $('.main_image img').attr('src',$(this).attr("href"));
      })
    })
  </script>
  {% endblock script %}