{% extends 'base.html' %}


{% load static %}
{% block content %}

<!-- ========================= SECTION MAIN END// ========================= -->
<section class="cart_area padding_top">
    <div class="container">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>

            </div>
            <div class="carousel-inner">

            {% for carousel in carousels %}
            <div class="carousel-item active">
                <a href="{{carousel.category.get_url}}">
                    <img src="{{carousel.banner_image.url}}" class="d-block w-100" alt="Banner">
                </a>
                <div class="carousel-caption d-none d-md-block">
                <h5></h5>
                <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            {% endfor %}

           
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>





    



<!-- product_list start-->
<section class="product_list section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section_tittle text-center">
                    <h2>Awesome <span>shop</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="product_list_slider owl-carousel">
                    <div class="single_product_list_slider">
                        <div class="row align-items-center justify-content-between">

                            {% if awesomes %}
                                {% for awesome in awesomes  %}
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="single_product_item">
                                            <a href="{{awesome.product.get_url}}">
                                                <img src="{{awesome.product.product_image.url}}" alt="">
                                            </a>
                                            <div class="single_product_text">
                                                <h4>{{awesome.product.brand}}</h4>
                                                <a href="{{awesome.product.get_url}}" class="text-decoration-none">
                                                    <h3>{{awesome.product.product_name}}</h3>
                                                </a>
                                                <h3>${{awesome.product.price}}.00</h3>
                                                <a href="{{awesome.product.get_url}}" class="add_cart">View Detail</a>
                                                <a href="{% url 'add_wishlist' awesome.product.id %}" class="add_cart"><i class="fa-solid fa-heart-circle-plus"></i></a>

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start category Area -->
<section class="category-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">
                <div class="row">

                    {% if category %}
                    {% for cat  in category %}
                    <div class="col-lg-6 col-md-6">
                        <div class="single-deal">
                            <div class="overlay"></div>
                            <a href="{{cat.get_url}}">
                                <img class="img-fluid w-100" src="{{cat.image.url}}" alt="category section">
                            </a>
                            <a href="img/category/c1.jpg" class="img-pop-up" target="_blank">
                                <div class="deal-details">
                                    <h6 class="deal-title">{{cat.description}}</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- End category Area -->




<!-- awesome_shop start-->
<section class="our_offer section_padding">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6">
                <div class="offer_img">
                    <img src="{% static 'img/for_home/for.count.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="offer_text">
                    <h2>Weekly Sale on
                        60% Off All Products</h2>
                    <div class="date_countdown">
                        <div id="timer">
                            <div id="days" class="date"></div>
                            <div id="hours" class="date"></div>
                            <div id="minutes" class="date"></div>
                            <div id="seconds" class="date"></div>
                        </div>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="enter email address"
                            aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <a href="{% url 'store' %}" class="input-group-text btn_2" id="basic-addon2">book now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- awesome_shop part start-->



 

<!-- product_list part start-->
<section class="product_list best_seller section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section_tittle text-center">
                    <h2>Best Sellers <span>shop</span></h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-12">
                <div class="best_product_slider owl-carousel">

                    {% if bestsellers %}
                        {% for bestseller in bestsellers %}
                            <div class="single_product_item">
                                <a href="{{bestseller.product.get_url}}">
                                <img src="{{bestseller.product.product_image.url}}" alt="">
                                </a>
                                <div class="single_product_text">
                                    <h4></h4>{{bestseller.product.product_name}}
                                    <h3>${{bestseller.product.price}}</h3>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</section>
<!-- product_list part end-->

<!-- subscribe_area part start-->
<section class="subscribe_area section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="subscribe_area_text text-center">
                    <h5>Join Our Newsletter</h5>
                    <h2>Subscribe to get Updated
                        with new offers</h2>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="enter email address"
                            aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <a href="#" class="input-group-text btn_2" id="basic-addon2">subscribe now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::subscribe_area part end::-->

<!-- subscribe_area part start-->
<section class="client_logo padding_top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="single_client_logo">
                    <img src="{% static 'img/client_logo/allen_solly.client.png' %}" alt="">
                </div>
                <div class="single_client_logo">
                    <img src="{% static 'img/client_logo/calvin.klein.client.png' %}" alt="">
                </div>
                <div class="single_client_logo">
                    <img src="{% static 'img/client_logo/uspa.client.png' %}" alt="">
                </div>
                <div class="single_client_logo">
                    <img src="{% static 'img/client_logo/allen_solly.client.png' %}" alt="">
                </div>
                <div class="single_client_logo">
                    <img src="{% static 'img/client_logo/calvin.klein.client.png' %}" alt="">
                </div>
                <div class="single_client_logo">
                    <img src="{% static 'img/client_logo/allen_solly.client.png' %}" alt="">
                </div>
                <div class="single_client_logo">
                    <img src="{% static 'img/client_logo/calvin.klein.client.png' %}" alt="">
                </div>
                <div class="single_client_logo">
                    <img src="{% static 'img/client_logo/uspa.client.png' %}" alt="">
                </div>
                <div class="single_client_logo">
                    <img src="{% static 'img/client_logo/allen_solly.client.png' %}" alt="">
                </div>
                <div class="single_client_logo">
                    <img src="{% static 'img/client_logo/calvin.klein.client.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--::subscribe_area part end::-->
{% endblock content%}


{% block bootstrap %}
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<!--BOOTSTRAP Start-->
{% endblock bootstrap %}






