
{% extends 'adminpanel/base.html' %}
{% load static %}
{% block content %}

<!-- Content -->
<!-- HTML5 Inputs -->
<div class="card m-3">
    <h5 class="card-header">Add Main-catagory</h5>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
      
        <div class="card-body">
            <div class="mb-3 row">
                <label for="exampleFormControlSelect1" class="col-md-2 col-form-label"> New Main-Category Name</label>
                <div class="col-md-10">
                    {{form.main_category_name}}
                </div>
            </div>

            <div class="mb-3 row">
                <label for="exampleFormControlTextarea1" class="col-md-2 col-form-label">Description</label>
                <div class="col-md-10">
                    {{form.description}}
                </div>
            </div>

            <!-- File input -->
            <div class="mb-3 row">
                <label for="formFile" class="col-md-2 col-form-label">category Image</label>
                {{form.image}}
            </div>

            <div class="mb-3 row">
                <label for="formFile" class="col-md-2 col-form-label">Other Images</label>
                <input class="form-control" name="image" type="file" id="formFileMultiple" multiple />
            </div>

            <div class="d-flex justify-content-end">
                <a href="" class="btn btn-outline-danger"
                onclick="return confirm('Are you sure ? current modifications will be unsaved.')">Back</a>
                <div class="px-2"></div>
                <button type="submit" class="btn btn-outline-primary"
                onclick="return confirm('confirm Save')">Save</button>
            </div>
            
        </div>
    </form>
</div>
<!-- / Content -->
  {% endblock content %}