{% extends 'base.html' %}
{% load static %}

{% block content %}


 <!--================Home Banner Area =================-->
  <!-- breadcrumb start-->
  <section class="breadcrumb ">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Cart Products</h2>
              <p>Fashion <span>-</span>Cart Products</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->

  {% if not cart_items %}
  <br>
  <br>
  <h2 class="text-center">Your Shopping Cart Is Empty</h2>
  <br>
  <div class="text-center">
    <a href="{% url 'store' %}" class="btn btn-primary">
      Continue Shopping
    </a>
  </div>


  {% else %}

  <!--================Cart Area =================-->
  <section class="cart_area padding_top">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              {% for cart_item in cart_items %}
                <tr>
                  <td>
                    <div class="media">
                      <div class="d-flex" style="height:20vh" >
                        <img src="{{cart_item.product.product_image.url}}" class=" img-sm"alt="" />
                      </div>
                      <div class="media-body">
                        <h4>{{cart_item.product.brand}}</h4>
                        <a href="{{cart_item.product.get_url}}"><p>{{cart_item.product.product_name}}</p></a>

                        {% if cart_item.variations.all %}
                          {% for item in cart_item.variations.all %}
                            {{item.variation_category | capfirst}} : {{item.variation_value | capfirst}} <br>
                          
                          {% endfor %}
                        {% endif %}
                      </div>
                    </div>
                  </td>
                  <td>
                    <h5>${{cart_item.product.price}}.00</h5>
                  </td>

<!--cart Quantity minus and plus option-->   
 
                  <td>
                    <div class="product_count d-flex justify-content-center">
                      <div>
                        <a href="{% url 'remove_cart' cart_item.product.id cart_item.id%}" type="button" class="fa-solid fa-angles-down btn"></a>
                      </div>
                      <div> 
                        <p>{{cart_item.quantity}}</p>
                      </div>
                      <div class="input-group-append">
                        <form action="{% url 'add_cart' cart_item.product.id  %}" method="POST">
                          {% csrf_token %}
                          {% for item in cart_item.variations.all %}
                            <input type="hidden" name="{{item.variation_category | lower}}" value="{{item.variation_value | capfirst}}">
                          {% endfor %}
                            <button type="submit" class="fa-solid fa-angles-up btn"></button>
                        </form>
                      </div>
                    </div>
                  </td>
                  
                  <td>
                    <h5>${{cart_item.sub_total}}.00</h5>
                  </td>
                  <td class="text-right">
                    <a href="{% url 'remove_cart_item' cart_item.product.id cart_item.id%}" class="btn btn-danger">remove</a>
                  </td>
                </tr>
              {% endfor %}
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <h5>Subtotal</h5>
                  <h5>${{total}}.00</h5>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <h5>Tax</h5>
                  <h5>${{tax}}.00</h5>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <h4>Grand Total</h4>
                  <h4>${{grand_total}}</h4>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="checkout_btn_inner float-right">
            <a class="btn_1" href="{% url 'store' %}">Continue Shopping</a>
            <a class="btn_1 checkout_btn_1" href="{% url 'checkout' %}">Proceed to checkout</a>
          </div>
        </div>
      </div>
    </section>
    {% endif %}
  <!--================End Cart Area =================-->



{% endblock content %}